{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% include 'landing/meta.html' %}
    <title>{% block title %}E-Sahulate{% endblock %}</title>
  </head>
  <body>
    {% include 'landing/header.html' %}

    <main>{% block content %}{% endblock %}</main>

    {% include 'landing/footer.html' %} {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
  </body>
</html>
